* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
}
.navbar-header a {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 600;
}

header {
  background-color: rgb(65, 67, 68);
}
h1 {
  font-weight: 600;
  font-size: 34px;
}
section {
  background-color: rgb(138, 141, 145);
  padding-left: 1em;
  padding-right: 1em;
}

#menu {
  padding-top: 0.5em;
  padding-bottom: 1em;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #ffffff;
}

#collapsable-nav a {
  font-size: 1.6em;
}
#collapsable-nav {
  background-color: rgb(138, 141, 145, 0.5);
}
